Exercício 1 \
Imprima um gráfico de barras que mostre o valor médio do índice de percepção de corrupção por continente (faça a média dos índices dos países de cada continente). \
Dica: use a função groupby do pandas.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st

In [3]:
df= pd.read_csv("CPI_2014.csv", encoding ='latin-1')

     Rank        Country  CPI_2014 Continent
0       1        Denmark        92    Europe
1       2    New Zealand        91   Oceania
2       3        Finland        89    Europe
3       4         Sweden        87    Europe
4       5         Norway        86    Europe
..    ...            ...       ...       ...
170   171    South Sudan        15    Africa
171   172    Afghanistan        12      Asia
172   173          Sudan        11    Africa
173   174  Korea (North)         8      Asia
174   174        Somalia         8    Africa

[175 rows x 4 columns]

Exercício 2 \
Usando o dataset 'usd2brl.csv' plote um gráfico de linha que mostre a evolução da cotação do dólar em relação ao real a partir de 2020.

In [34]:
df= pd.read_csv("usd2brl.csv", encoding ='latin-1')

Exercício 3 \
Utitilizando o dataset "world_population.csv", exiba um gráfico de barras mostrando a população dos 10 países que possuem maior área territorial (Land Area). \
Dica: use as funções nlargest e sort_values.

In [35]:
df= pd.read_csv("world_population.csv", encoding ='latin-1')

Exercício 4 \
Utilizando o dataset "world_population.csv" exiba um gráfico de dispersão que exiba no eixo x a idade mediana do país e no eixo y a taxa de fertilidade. Olhando o gráfico resultante, responda o que é possível inferir a respeito da relação entre essas duas variáveis.

Exercício 5 \
Utilizando o dataset "titanic.csv", crie dois gráficos de pizza lado a lado contendo o número de sobreviventes vs não sobreviventes do sexo masculino (pizza 1) e do sexo feminino (pizza 2).